:root {
  /* fonts */
  /* 
FontAwesome Regular

Montserrat Bold
Montserrat SemiBold
Montserrat Medium
Montserrat Regular

Source Sans Pro Bold
Source Sans Pro SemiBold
Source Sans Pro Italic
Source Sans Pro Regular

  */
  --title-font: Montserrat, sans-serif;
  --main-font: Source Sans Pro, sans-serif;
  --secondary-font: Raleway, sans-serif;
  /* colors*/
  --main-title-color: #171821;
  --main-color: #54555e;
  --nav-hover-color: #2196f3;
  --header-top-background-color: #171821;
}

.nav__list, .slider__list, .news__list,
.posts__list, .filter__list, .socials__list, .examples__list, .footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link--top-logo, .link--bottom-logo, .header__link, .examples__link, .footer__link {
  text-decoration: none;
}

.current.link--top-logo, .current.link--bottom-logo, .current.header__link, .current.examples__link, .current.footer__link {
  color: var(--nav-hover-color);
}

.current.link--top-logo::after, .current.link--bottom-logo::after, .current.header__link::after, .current.examples__link::after, .current.footer__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -39px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--nav-hover-color);
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.71;
  /*24px or 171% */
  letter-spacing: 0.03em;
  color: var(--main-color);
  tab-size: 0px;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0px;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.nav__list {
  display: flex;
  padding: 0px;
  margin-left: auto;
}

.nav__item {
  margin-right: 23px;
}

.last__item {
  margin-right: 0;
}

.slider__list {
  display: flex;
  justify-content: space-around;
  padding: 0px;
  margin-left: auto;
}

.news__list,
.posts__list {
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

.news__list--vertical,
.posts__list--vertical {
  flex-direction: column;
}

.filter__list {
  display: flex;
  padding: 0px;
  margin-left: auto;
}

.socials__list {
  display: flex;
  padding: 0px;
  margin-left: auto;
}

.socials_item {
  margin-right: 6px;
}

.sub-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--main-black-color);
}

.invisible {
  display: none;
}

.socials__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials__item {
  margin-right: 10px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover, .socials__link:focus {
  background-color: #2196f3;
}

.socials__logo {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.socials__logo--grey {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover .socials__logo--grey,
.socials__link:focus .socials__logo--grey {
  fill: #ffffff;
}

/* header */
.header {
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header--top {
  padding-top: 6px;
  color: white;
  background-color: var(--header-top-background-color);
}

.header--bottom {
  color: var(--main-title-color);
  font-weight: 700;
}

.header__wrapper {
  display: flex;
}

.header__wrapper--top {
  justify-content: space-between;
}

.header__wrapper--bottom {
  align-items: baseline;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.header__burger-logo {
  width: 18px;
  height: 12px;
  margin-right: 32px;
}

.socials_item-logo {
  width: 18px;
  height: 18px;
}

.logo--header {
  margin-right: 73px;
}

.logo__text {
  font-family: var(--title-font);
  font-style: italic;
  font-weight: 900;
}

.logo__text--left {
  font-size: 16px;
  color: var(--main-title-color);
}

.logo__text--right {
  font-size: 26px;
  color: red;
}

/*---OLD---*/
.link--top-logo {
  margin-right: 93px;
}

.link--bottom-logo {
  display: block;
  margin-bottom: 20px;
}

.header__item {
  position: relative;
  margin-right: 50px;
}

.header__item:last-child {
  margin-right: 0px;
}

.header__logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  fill: var(--main-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover .header__logo,
.header__link:focus .header__logo {
  fill: var(--nav-hover-color);
}

.header__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-black-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link--main-color {
  color: var(--main-color);
}

.header__link:hover, .header__link:focus, .header__link:active {
  color: var(--nav-hover-color);
}

/*portfolio examples */
.examples__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 30px;
}

.examples__item {
  background-color: #ffffff;
}

.examples__wrap {
  position: relative;
  overflow: hidden;
}

.examples__desc {
  display: block;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  /* or 156% */
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(302px);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.examples__link:hover .examples__desc {
  transform: translateY(0);
}

.examples__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples__link:hover, .examples__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples__box {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.examples__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--main-black-color);
}

.examples__text {
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: var(--main-color);
}

/* footer*/
.footer {
  background-color: var(--section-background-color);
}

.footer__wrapper {
  display: flex;
  justify-content: space-around;
}

.footer__block--first {
  margin-right: 70px;
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__link--white {
  color: #ffffff;
}

.footer-box {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer__wraper {
  display: flex;
  align-items: baseline;
}

.footer__title {
  color: white;
  margin-bottom: 20px;
}

/* Form for modal window */
.form__label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}

.form__label--checkbox {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.form__text {
  margin-bottom: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #757575;
}

.form__text--agreement {
  font-size: 14px;
  letter-spacing: 0.03em;
}

.form__link {
  color: #2196f3;
}

.form__field {
  width: 100%;
  height: 40px;
  padding: 11px 12px;
  padding-left: 28px;
  outline: none;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field--textarea {
  resize: none;
  height: 120px;
}

.form__field:hover, .form__field:focus {
  border: 2px solid #2196f3;
}

.form__logo {
  position: absolute;
  top: 30px;
  left: 11px;
  width: 18px;
  height: 18px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__logo--checked {
  width: 11px;
  height: 8px;
}

.form__field:hover + .form__logo,
.form__field:focus + .form__logo {
  fill: #2196f3;
}

.form__input--checked {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form__input--custom-checked {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 1px solid;
  border-color: #000000;
  border-radius: 2px;
  margin-right: 7px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input--checked:focus + .form__input--custom-checked {
  border-color: #2196f3;
}

.form__input--checked:checked + .form__input--custom-checked {
  border-color: #2196f3;
  background-color: #2196f3;
}

.form__button {
  width: 200px;
  height: 50px;
  background: #2196f3;
  border: 0;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  cursor: pointer;
}

.form__button:hover {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.flash-news {
  background-color: aqua;
}

.flash-news__wrapper {
  display: flex;
}

.top-news__wrapper {
  display: flex;
  justify-content: space-between;
}

.latest-news {
  background-color: bisque;
}

.latest-news__wrapper {
  display: flex;
  justify-content: space-between;
}

.all-news {
  background-color: darkseagreen;
}

.all-news__wrapper {
  display: flex;
  justify-content: space-between;
}

.advertise {
  background-color: tomato;
}

.editor-pics {
  background-color: aqua;
}

.slider__navigation {
  text-align: center;
}

.categories-top {
  background-color: burlywood;
}

.categories-top__wrapper {
  display: flex;
  justify-content: space-around;
}

.videos {
  background-color: aqua;
}
/*# sourceMappingURL=main.css.map */