/* header */

.header {
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
  &--top {
    color: white;
    background-color: var(--section-background-color);
  }
  &--bottom {
    color: #000000;
    font-weight: 400;
  }
}

.header__wrapper {
  display: flex;
  &--top {
    justify-content: space-between;
  }
  &--bottom {
    align-items: baseline;
  }
}
/*---OLD---*/
.link--top-logo {
  @extend %link;
  margin-right: 93px;
}

.link--bottom-logo {
  @extend %link;
  display: block;
  margin-bottom: 20px;
}

.logo__text {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  color: #2196f3;

  &--white {
    color: #ffffff;
  }
  &--black {
    color: #000000;
  }
}

.header__item {
  position: relative;
  margin-right: 50px;

  &:last-child {
    margin-right: 0px;
  }
}

.header__logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  fill: var(--main-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .header__link:hover &,
  .header__link:focus & {
    fill: var(--nav-hover-color);
  }
}

.header__link {
  @extend %link;
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-black-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--main-color {
    color: var(--main-color);
  }

  &:hover,
  &:focus,
  &:active {
    color: var(--nav-hover-color);
  }
}
